name: google-microservices-demo

version: "3.8"

services:
  frontend:
    image: velmasrikanth/gmsd-frontend:1.0
    ports:
      - "8080:8080"
    depends_on:
      - ad-service
      - cart-service
      - checkout-service
      - currency-service
      - email-service
      - payment-service
      - product-catalog-service
      - recommendation-service
      - shipping-service
    environment:
      - PRODUCT_CATALOG_SERVICE_ADDR=product-catalog-service:3550
      - CURRENCY_SERVICE_ADDR=currency-service:7000
      - CART_SERVICE_ADDR=cart-service:7070
      - RECOMMENDATION_SERVICE_ADDR=recommendation-service:8080
      - SHIPPING_SERVICE_ADDR=shipping-service:50051
      - CHECKOUT_SERVICE_ADDR=checkout-service:5050
      - AD_SERVICE_ADDR=ad-service:9555
      - PAYMENT_SERVICE_ADDR=payment-service:50051
      - EMAIL_SERVICE_ADDR=email-service:8080
    networks:
      - gmsd-network

  checkout-service:
    image: velmasrikanth/gmsd-checkout:1.0
    environment:
      - CART_SERVICE_ADDR=cart-service:7070
      - PRODUCT_CATALOG_SERVICE_ADDR=product-catalog-service:3550
      - SHIPPING_SERVICE_ADDR=shipping-service:50051
      - PAYMENT_SERVICE_ADDR=payment-service:50051
      - EMAIL_SERVICE_ADDR=email-service:8080
      - CURRENCY_SERVICE_ADDR=currency-service:7000
    networks:
      - gmsd-network

  payment-service:
    image: velmasrikanth/gmsd-payment:1.0
    environment:
      - PORT=50051
    networks:
      - gmsd-network

  currency-service:
    image: velmasrikanth/gmsd-currency:1.0
    environment:
      - PORT=7000
    networks:
      - gmsd-network

  ad-service:
    image: velmasrikanth/gmsd-adservice:1.0
    environment:
      - PORT=9555
    networks:
      - gmsd-network

  product-catalog-service:
    image: velmasrikanth/gmsd-product:1.0
    environment:
      - PORT=3550
    networks:
      - gmsd-network

  recommendation-service:
    image: velmasrikanth/gmsd-recommend:1.0
    environment:
      - PRODUCT_CATALOG_SERVICE_ADDR=product-catalog-service:3550
    networks:
      - gmsd-network

  shipping-service:
    image: velmasrikanth/gmsd-shipping:1.0
    environment:
      - PORT=50051
    networks:
      - gmsd-network

  email-service:
    image: velmasrikanth/gmsd-email:1.0
    environment:
      - PORT=8080
    networks:
      - gmsd-network

  cart-service:
    image: velmasrikanth/gmsd-cart:1.0
    environment:
      - PORT=7070
    networks:
      - gmsd-network

networks:
  gmsd-network:
    driver: bridge


 