name: google-microservices-demo

services:
  frontend:
    image: velmasrikanth/gmsd-frontend:1.0
    ports:
      - "8080:8080"
    depends_on:
      - ad-service
      - cart-service
      - checkout-service
      - currency-service
      - email-service
      - payment-service
      - product-catalog-service
      - recommendation-service
      - shipping-service
      - shopping-assistant-service
    networks:
      - gmsd-network  
  ad-service:
    image: velmasrikanth/gmsd-adservice:1.0
    ports:
      - "9555:8081"
    depends_on:
      - product-catalog-service
    networks:
      - gmsd-network  
  cart-service:
    image: velmasrikanth/gmsd-cart:1.0
    ports:
      - "1000:8082"
    depends_on:
      - product-catalog-service
    networks:
      - gmsd-network  
  checkout-service:
    image: velmasrikanth/gmsd-checkout:1.0
    ports:
      - "5000:8083"     
    depends_on:
      - product-catalog-service
    networks:
      - gmsd-network  
  currency-service:
    image: velmasrikanth/gmsd-currency:1.0
    ports:
      - "7000:8084"
    depends_on:
      - product-catalog-service
    networks:
      - gmsd-network  
  email-service:
    image: velmasrikanth/gmsd-email:1.0
    ports:
      - "8080:8085"
    depends_on:
      - product-catalog-service
    networks:
      - gmsd-network  
  payment-service:
    image: velmasrikanth/gmsd-payment:1.0
    ports:
      - "50051:8086"
    depends_on:
      - product-catalog-service
    networks:
      - gmsd-network  
  product-catalog-service:
    image: velmasrikanth/gmsd-product:1.0
    ports:
      - "3550:3550"

    networks:
      - gmsd-network  
  recommendation-service:
    image: velmasrikanth/gmsd-recommend:1.0
    ports:
      - "8080:8087"
    depends_on:
      - product-catalog-service
    networks:
      - gmsd-network  
  shipping-service:
    image: velmasrikanth/gmsd-shipping:1.0
    ports:
      - "50051:8088"
    depends_on:
      - product-catalog-service
    networks:
      - gmsd-network  
  shopping-assistant-service:
    image: velmasrikanth/gmsd-shoppingassist:1.0
    ports:
      - "8080:8089"
    depends_on:
      - product-catalog-service
    networks:
      - gmsd-network  
networks:
  gmsd-network:
    driver: bridge  